<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Assignment.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5FD3C3A6233F845E007495A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FD3C3BD233F845F007495A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FD3C3C8233F845F007495A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
